@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
span {
    font-weight: bold;
}
body {
    width: auto;
    background-color: #e5e5e5;
    font-family: "Roboto", sans-serif;
}

.container-topo {
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.container-topo img {
    width: 75px;
    cursor: pointer;
}

.container-topo ion-icon {
    font-size: 43px;
    cursor: pointer;
}

/* Inicio do chat  */

.container-chat {
    width: 100%;
    margin: 106px 0;
}

.mensagem {
    width: 100%;
    padding: 10px 9px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    border-radius: 2px;
    margin-top: 4px;
}

.mensagem h3 {
    width: 100%;
}
.horario {
    display: inline;
    font-weight: 400;
    color: #aaaaaa;
    margin-right: 5px;
}
.status {
    background-color: #dcdcdc;
}
.mensagem-global {
    background: #ffffff;
}

.mensagem-reservada {
    background: #ffdede;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mensagem-reservada ion-icon {
    font-size: 25px;
    margin-left: 20px;
    cursor: pointer;
}

.container-enviar-mensagem {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 18px;
}

/* Inicio do envia mensagem para todos */

.container-enviar-mensagem .container-hidden-mensagem-todos {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-enviar-mensagem .container-hidden-mensagem-todos .mensagem-todos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 30%;
    left: 0;
}

.container-enviar-mensagem .mensagem-todos input {
    border: none;
    width: 90%;
    height: 40px;
}

.container-enviar-mensagem .mensagem-todos input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-style: italic;
}

.container-enviar-mensagem .mensagem-todos ion-icon {
    font-size: 26px;
    cursor: pointer;
}

/* Inicio do envia mensagem reservada  */

.container-enviar-mensagem .container-hidden-mensagem-reservado {
    width: 100%;
    height: 100%;
    position: relative;
}
.container-enviar-mensagem .container-hidden-mensagem-reservado .mensagem-reservada-envio {
    width: 100%;
    position: absolute;
    top: 10%;
    left: 0;
}
.container-enviar-mensagem .container-hidden-mensagem-reservado .mensagem-reservada-envio div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-enviar-mensagem .container-hidden-mensagem-reservado .mensagem-reservada-envio input {
    border: none;
    width: 90%;
    height: 40px;
}

.container-enviar-mensagem .container-hidden-mensagem-reservado .mensagem-reservada-envio ion-icon {
    font-size: 26px;
    cursor: pointer;
}

.container-enviar-mensagem .container-hidden-mensagem-reservado .mensagem-reservada-envio h3 {
    font-weight: 300;
    font-size: 14px;
    line-height: 25px;
}

.container-enviar-mensagem
    .container-hidden-mensagem-reservado
    .mensagem-reservada-envio
    #nome-usuario-enviar-reservado {
    font-weight: 300;
}

/* Inicio do login  */

.container-hidden-login {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}
.container-total-login {
    margin: 0 auto;
}

.container-login {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-login img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.container-login #nome-usuario {
    width: 261px;
    height: 54px;
    background: #ffffff;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    margin-top: 94px;
}

.container-login #nome-usuario::placeholder {
    color: #aeaeae;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.container-login #botao-enviar {
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 9px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    color: #696969;
    cursor: pointer;
}

.hidden {
    display: none;
    visibility: hidden;
}

.container-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container-loading img {
    width: 130px;
    height: 92px;
    margin-top: 72px;
}

.container-entrando {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 50px;
    z-index: 3;
}

.loading {
    animation: is-rotating 1s infinite;
    width: 50px;
    height: 50px;
    border: 6px solid #e5e5e5;
    border-top-color: #51d4db;
    border-radius: 50%;
    margin: 0 auto;
}
@keyframes is-rotating {
    to {
        transform: rotate(1turn);
    }
}

.container-entrando h1 {
    text-align: center;
    margin-top: 20px;
}

/* Inicio do menu de participantes  */

.container-fora-menu-participantes {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.container-com-flex {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
}

.container-menu-participantes {
    width: 70%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 6;
}

.container-menu-participantes h1 {
    width: 65%;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin-top: 30px;
}

.container-menu-participantes h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 10px;
}

.container-menu-participantes .usuarios-participantes,
.container-menu-participantes .escolhe-visibilidade {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
    margin-top: 30px;
}

.container-menu-participantes .usuarios-participantes {
    height: 200px;
    overflow-y: scroll;
}

.container-menu-participantes .usuarios-participantes .lista-participantes,
.container-menu-participantes .escolhe-visibilidade .lista-escolhe-visibilidade {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}

.container-menu-participantes ion-icon {
    font-size: 23px;
}

#button-fechar {
    width: 30%;
    height: 100%;
}

.selected {
    background: url(../img/selected.svg) no-repeat;
    background-position: 80%;
}
